{% extends 'core/index.html' %}

{% block tituloPagina %}
    Detalhes {{ object.nome }}
{% endblock tituloPagina %}

{% block row %}
    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Detalhe forma pagamento "{{ object.nome }}"</h3>

              <div class="box-tools">

              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Nome</th>
                  <th>Identificador</th>
                  <th>Criado em</th>
                  <th>Modificado em</th>
                  <th>Descrição</th>
                </tr>
                <tr>
                  <td>{{ object.nome }}</td>
                  <td>{{ object.slug }}</td>
                  <td>{{ object.created }}</td>
                  <td>{{ object.modified }}</td>
                    {% if object.descricao == ""  %}
                        <td>Sem Descrição</td>
                        {% else %}
                  <td>{{ object.descricao }}</td>
                    {% endif %}
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

    <div class="row">
        <div class="col-md-12">
          <!-- Block buttons -->
          <div class="box">
            <div class="box-body">
            <a class="btn btn-success btn-block" href="{% url 'listar_forma_de_pagamento' %}" role="button">Salvar</a>
             <a class="btn btn-warning btn-block btn-flat" href="{% url 'atualizar_forma_de_pagamento' object.slug %}" role="button">Editar</a>
              <a class="btn btn-danger btn-block btn-flat" href="{% url 'deletar_forma_de_pagamento' object.slug %}" role="button">Deletar</a>
            </div>
          </div>
        </div>
      </div>

{% endblock row %}