{% extends 'core/index.html' %}

{% block tituloPagina %}
    Detalhes {{ object.nome }}
{% endblock tituloPagina %}

{% block row %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Detalhe  "{{ object.nome }}"</h3>

                    <div class="box-tools">

                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>Nome</th>
                            <th>categoria</th>
                            <th>data</th>
                            <th>Usuário</th>
                            <th>Descrição</th>
                            <th>Estado</th>
                            <th>Comprovante</th>
                            <th>Criado em</th>
                            <th>Modificado em</th>
                        </tr>
                        <tr>
                            <td>{{ object.nome }}</td>
                            <td>{{ object.categoria }}</td>
                            <td>{{ object.data }}</td>
                            <td>{{ object.usuario }}</td>
                            {% if object.descricao == ""  %}
                                <td>Sem Descrição</td>
                            {% else %}
                                <td>{{ object.descricao }}</td>
                            {% endif %}
                            <td>{{ object.estado }}</td>
                            <td>{{ object.doc }}</td>
                            <th>{{ object.created }}</th>
                            <th>{{ object.modified }}</th>

                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Block buttons -->
            <div class="box">
                <div class="box-body">
                    <a class="btn btn-success btn-block" href="{% url 'listar_despesa' %}" role="button">Salvar</a>
                    <a class="btn btn-warning btn-block btn-flat" href="{% url 'atualizar_despesa' object.slug %}" role="button">Editar</a>
                    <a class="btn btn-danger btn-block btn-flat" href="{% url 'deletar_despesa' object.slug %}" role="button">Deletar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock row %}